.Menu_bar .navbar-toggler {
    box-shadow: none;
}
.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, .55);
}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {

    align-items: left;
    justify-content: space-between;
    text-align: center;
}
.navbar .navbar-nav .nav-but .nav-item{
padding-left: 15px;
}
.navbar-dark .navbar-nav .nav-link {
    color: var(--bs-white);
}
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    color: white;
}
	.Menu_bar .bg-dark {
    background-color: #212529bf !important;
    position: fixed;
    z-index: 669996;
    width: 100%;
}

.sliders_wrapper .carousel-indicators [data-bs-target]{
	height: 10;
    width: 10px;
    border-radius: 100%
}
.sliders_wrapper .carousel-caption{
	padding-bottom: 120px;
}
.sliders_wrapper .carousel-item img{
height: 500px;
}
.sliders_wrapper h5{
padding-bottom: 30px;
}
<!--NEW NEW 2nd div-->
.sliders_images .carousel-item{
	margin-top: 35px;
}
.sliders_images{
margin-top: 35px;
margin-bottom: 60px;
}

	.A_Games{
			justify: center;
			margin-top:50px;
			background-color:#ebebeb;
			}
			.Gam_txt{
			padding-top: 60px;
			padding-left: 100px;
			}
		.A_Games .svg-inline--fa {
				display: var(--fa-display, inline-block);
				height: 1em;
				overflow: visible;
				vertical-align: -0.125em;
				font-size: 20px;
				color: green;
			}
		@media{
			.Gam_img{
			flex: 0 100%;
			max-width: 100%;
			}
			.Gam_txt img{
			filter: invert(200%);
			}
		.Gam_txt{
			flex: 0 100%;
			}
	.Gam_txt ul li{
	list-style-type: none;
	}
	<!--NEW NEW 4th div-->
	@media md screen and (max-width:768px)
{
	.Gallery button{
		text-align: center;
	}
}
	.Gallery{
			margin-top:60px;
		text-align:center;
			}
		.Gallery_images{
			margin-top: 35px;
			}
		.Gallery_images:hover{
			opacity: 0.3;
			}
			.Gal_2{
			text-align:center;
			margin-top: 20px;
			}
		.Gal_images_2{
			margin-top:30px;
			}
		.Gal_images_2:hover{
			opacity: 0.3;
			}
		.Gal_2 img{
		filter: invert(200%);
		}
		.Gallery button{
		text-align:center;
		text-decoration:none;
		display: inline-block;
		padding: 6px 15px;
		    margin-top: 35px;
		margin-bottom: 36px;
		border: 1px solid green;
		border-radius: 50px 50px;
		background-color: green;
		color: white;
		transition-delay: .3s;
		transition-duration: 3s;
		transition-property: transform , background-color , color ;
		transition-timing-function: linear;
	}
.Gallery button:hover{
	background-color: white;
	color: green;
	transform: translateY(-10px);
}
		<!--NEW NEW 5th div-->
.text_img {
text-align: center;
}
.text_img h6 img{
border: 1px solid black;
}
<!--NEW NEW 6th div-->
	.font_2{
float: left;
text-align:center;
    margin-top: 30px;
}
	.font_tran{
background-image: url(images/counter_bg.jpg);
background-repeat: no-repeat;
    background-position: center;
border: 1px solid gray;
text-align:center;
color: white;
 margin-top: 10px;
}
.transbox {
    background-color: rgb(13 14 14 / 73%);
    opacity: 1.5;
	padding-top: 17px;
}
.carousel-indicators [data-bs-target]{
    background-color: #9b7f95;
}
.ps-3 {
    padding-left: 1rem!important;
    margin-bottom: 60px;
}

.card{
text-align:center;
margin-top:15px;
margin: 10px;
}
.button{
margin-left: 599px;
    margin-top: 30px;
}
.sport{
margin-top: 25px;
}
.sport_2{
	text-align:center;
	margin-top:25px;
	margin-right: 15px;
}
.sport_images_2{
	margin-top:25px;
	text-align: center;
}
.sport_images_2 h6{
	padding-top:25px;
	padding-bottom: 20px;
}
.sport_2 img{
filter: invert(200%);
}

.A_Games button{
		padding: 5px 8px;
		margin: 10px;
		border: 1px solid green;
		border-radius: 50px 50px;
		background-color: green;
		color: white;
		transition-delay: .3s;
		transition-duration: 3s;
		transition-property: transform background-color color;
		trasition-timing-function: linear;
	}
.A_Games button:hover{
	background-color: white;
	color: green;
	transform: translateY(-10px);
}
.Card_s a{
		text-decoration:none;
		text-align:center;
		display: inline-block;
		padding: 6px 15px;
		margin-top: 20px;
		border: 1px solid green;
		border-radius: 50px 50px;
		background-color: green;
		color: white;
		transition-delay: .3s;
		transition-duration: 3s;
		transition-property: transform background-color color;
		trasition-timing-function: linear;
	}
.Card_s a:hover{
	background-color: white;
	color: green;
	transform: translateY(-10px);
}
.card-body p{
font-size: 15px;
}
.card-body_hover{
position:absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
display:none;
}

@media md screen and (max-width:768px)
{
	.demo ul li i{
		margin-left: 150px;
	}
}
.latest_blog button{
		padding: 5px 8px;
		margin-top: 45px;
		border: 1px solid green;
		border-radius: 50px 50px;
		background-color: green;
		color: white;
		transition-delay: .3s;
		transition-duration: 3s;
		transition-property: transform background-color color;
		transition-timing-function: linear;
	}
.latest_blog button:hover{
	background-color: white;
	color: green;
	transform: translateY(-10px);
}
.latest_blog{
margin-top: 40px;
    text-align: center;
}
.demo{
border: 1px solid #dbdbdb;
width: 298;
margin-top: 30px;
}
.demo li img{
height: 33px;
width: 33px;
border-radius: 50%;
margin-right: 15px;
}
.demo ul li i{
margin-left: 90px;
    height: 22px;
	}
.demo ul{
display: flex;
list-style-type:none;
border: 1px solid #dbdbdb;
padding: 5px;
margin: 0px;
}
.demo{
display:flex;
position: relative;
display: inline-block;
}
.demo_hover{
position:absolute;
top:0;
bottom: 0;
left: 0;
right: 0;
display: none;
}
.demo:hover .demo_hover{
background-color: #2c992ca8;
display:block;
height: 200px;
    padding-top: 35px;
}
.demo1{
height: 210px;
margin-top: 10px;
}

.list-group-flush>.list-group-item:last-child {
    border-bottom-width: 0;
    display: flex;
    justify-content: flex-start;
}

.Up_event{
background-color: #efeeee;
margin-top:30px;
    padding-bottom: 57px
}

.Up_event h6{
display: inline-block;
position:relative;
}
.Up_event h6:before{
content: "";
width: 70px;
height: 1px;
background-color: #433535;
position:absolute;
top: 11px;
    left: 33px 
}
.Up_event h6:after{
content: "";
width: 70px;
height: 1px;
background-color: #433535;
position:absolute;
    right: 32px;
    top: 11px
}

.win{
text-align:center;
}
.win_event {
    text-align: center;
    position: relative;
    padding-bottom: 103px;
}
.win_event 2{
text-align: center;
position: relative;
 padding-bottom: 103px;
}
.win img{
filter: invert(200%);
}
.win_event img{
hieght: 100px;
width: 72px;
}
.win_event2 img{
hieght: 100px;
width: 72px;
}
.win_event h6{
display: inline-block;
    border: 1px solid #ffe004;
    background: #f7e70b;
    height: 26px;
    width: 29px;
    border-radius: 100%;
    margin-top: 20px;
	}
	.win_event2 h6{
display: inline-block;
    border: 1px solid #ffe004;
    background: #f7e70b;
    height: 26px;
    width: 29px;
    border-radius: 100%;
    margin-top: 20px;
	}
@media lg screen and (max-width:992px)
{
	.Up_event button{
	background-color: green;
	color: white;
	border: 1px solid green;
	}

}
 .bg-light {
    background-color: #f8f9fa !important;
    margin-right: 20px;
}
.Partner{
text-align: center;
padding-top: 60px;
}
.part_images img{
height: 90px;

}
.part_images{
margin-top: 30px;
}
.sport_img {
border: 1px solid black;
}
.sport button{
		padding: 6px 20px;
		margin: 10px;
		border: 1px solid green;
		border-radius: 50px 50px;
		background-color: green;
		color: white;
		transition-delay: .3s;
		transition-duration: 3s;
		transition-property: transform background-color color;
		transition-timing-function: linear;
	}
.sport button:hover{
	background-color: white;
	color: green;
	transform: translateY(-10px);
}

.News{
margin-top: 10px;
background-image: url(images/counter_bg.jpg);
background-repeat: no-repeat;
background-position:center;
background:cover;
max-height: 200px;
max-width: 100%;
color: white;
text-align: center;
}
.target{ 
background-color: rgb(13 14 14 / 73%);
    opacity: 1.5;
}
.news_1 img{
height: 203px;
}
.news_2{
padding-top: 40px;
}
.submit label{
position: relative;

}
.submit input{
border: none;
padding: 10px;
width: 289px;
border-radius:  20px ;
}
.submit button{
border:none;
padding: 10px;
padding-left: 15px;
padding-right: 15px;
position: absolute;
top: 0;
bottom: 0;
right: 0;
background: green;
color: white;
border-radius:  20px  ;
}
.Fot_main{
background-color: #010e21;
  color: white;
  margin-top: 50px;
  padding-top: 65px;
}
.Fot_main p {
color: #a49999;
}
.Fot_main ul li {
color: #a49999;
}
.footer_top ul {
list-style-type: none;
display: flex;
}
.footer_top li {
background: green;
    padding: 2px 5px;
	margin-right: 20px;
}
.footer_btm img{
height:70px;
}
.footer_mid2 ul li{
list-style-type: none;
}
.lat_part img{
filter: invert(200%);
}
.footer_mid2 img {
    margin-left: -28px;
	margin-right: 5px;
}
blog img{
filter: invert(200%);
}
.win_event a {
    color: var(--bs-white);
    background: green;
    border: green;
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
    border-radius: 23px;
}
.button_1{
display:inline-block;
position:absolute;
bottom:-13px;
left:198px;
}
